#roof {
    margin: 0%;
    background-color: rgb(230, 230, 230);
}

#help {
    height: 65px;
    width: 30%;
    background-color: rgba(231, 231, 231, 0.959);
}

#header {
    display: flex;
    flex-flow: row;
    height: 65px;
}

#bt-search { /*nút search */
    background-color: rgba(0, 0, 0, 0);
    margin: 12px;
    cursor: pointer;
}

#menu {
    height: 65px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    z-index: 1;
}

.fa-user-circle {
    font-size: 25px;
    color: #383737ad;
    padding: 30px;
    cursor: pointer;
}

.fa-search {
    font-size: 18px;
    color: #383737ad;
    padding: 2px;
    cursor: pointer;
}

.bt-menu {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 150;
    color: #1f2c31c4;
    margin: 12px;
    text-decoration: none;
}

#debate-room {
    color: rgb(32, 32, 32);
    font-size: 19px;
}

.bt-menu:hover {
    color: rgb(32, 32, 32);
    font-size: 19px;
    transition: 0.2s;
}




/* Dropdown Button */
.dropbtn {
    color: #1f2c31c4;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 150;
    border: none;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}

.dropbtn:focus {
    outline: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: rgb(32, 32, 32);
    font-size: 18px;
    transition: 0.2s;
}

.dropdown {
    position: relative;
    display: inline-block;
}
 
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.link {
    width: 155px;
    height: 20px;
    display: block;
    color: #1f2c31c4;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: none;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}


/* Change color of dropdown links on hover */
.link:hover {font-size: 17px; transition: 0.2s;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}




.fa-search:hover {
    font-size: 19px;
    color: rgb(32, 32, 32);
    transition: 0.2s;
}

.fa-user-circle:hover {
    font-size: 26px;
    color: rgb(32, 32, 32);
    transition: 0.2s;
}

#slidebar-background {
    width: 100%;
    height: 688px;
    /* background-color: brown; */
    background-image: url(https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position-y: center;
}

#trans {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    background-color: d#1b1b1b;
    margin-top: 4%;
}

#line1 {
    width: 28%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #1b1b1b;
    border-radius: 5px;
}

#canchinh {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#motion-box {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #dfdfdf;
}

#info-box {
    width: 100%;
    height: 72%;
}

/* Dropdown Button */
#dropBt {
    color: rgb(190, 190, 190);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-flow: row;
}

.fa-chevron-down {
    margin: auto 0 auto 5px;
}

#choosing {
    position: relative;
    display: inline-block;
}

#select {
    display: none;
    position: absolute;
    background-color: #141414;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: rgb(190, 190, 190);
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
}

.option {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#matchup {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

.side {
    width: 80%;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 13px;
    display: flex;
    flex-flow: column;
    font-size: 16px;
}

.introtitle {
    width: 200px;
    display: flex;
    flex-flow: row;
    font-size: 18px;
    font-weight: bold;
    color: #dfdfdf;
    text-transform: capitalize;
    /* background-color: deeppink; */
}

.dot {
    width: 10px;
    height: 10px;
    margin: auto 6px auto 0;
    border-radius: 80px;
}

#dot1 {
   background-color: rgb(85, 138, 125); 
}

#dot2 {
    background-color: rgb(165, 118, 118);
}

#dot3 {
    background-color: rgb(185, 148, 26);
}

.intromember {
    display: flex;
    flex-flow: column;
    width: 300px;
    margin-top: 3px;
    margin-left: 14px;
    color: #b9b9b9;
    /* background-color: dodgerblue; */
}

.member {
    margin-top: 2px;
}

.role {
    color: #ffffff;
    text-transform: uppercase;
}

.spec {
    text-transform: capitalize;
}

#chatbox {
    display: none;
    flex-flow: column;
    margin-top: 10px;
}

#screen {
    width: 100%;
    height: 360px;
    /* background-color: rgb(19, 19, 19); */
}

#m-container {
    width: 100%;
    height: 91%;
    display: flex;
    flex-flow: column;
    overflow: auto; 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#m-container::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(61, 61, 61);
    border-radius: 30px;
} 

#m-container::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
    width: 30px;
    height: 50px;
    border-radius: 40px;
}

#m-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1b1b1bf6;
    opacity: 0;
    border-radius: 30px;
}

.m {
    width: 95%;
    margin-top: 20px ;
    display: grid;
    grid-template-columns: 40px 80%;
    grid-column-gap: 8px;
    /* flex-flow: row; */
    justify-content: space-between;
    color: #ffffff;
    word-wrap: break-word;
}

#default {
    margin-top: 10px;
}

.user-ava {
    min-width: 40px;
    height: 40px;
    border-radius: 30px;
    /* margin-top: 5px; */
    background-color: darkgoldenrod;
}

.user-mess {
    /* max-width: 100%; */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 210px;
    grid-column-gap: 8px;
    /* background-color: darkorange; */
}

.username {
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
}

.message {
    font-family: 'Quicksand', sans-serif; 
    font-size: 15px; 
    margin-top: 2px;
    word-wrap: break-word;
    /* white-space: pre-wrap; */
}

#typing-box {
    width: 100%;
    height: 8.5%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    border-radius: 40px;
    background-color: #2b2b2b;
    margin-top: 15px;
}

#input, #input:focus {
    height:100%;
    width: 77%;
    border: none;
    outline: none;
    background-color: #2b2b2b00;
    font-family: 'Quicksand', sans-serif; 
    font-size: 15px; 
    color: #ffffff;
}

#send {
    margin: auto 0 auto 0;
    color: #b9b9b9;
    cursor: pointer;
    /* background-color: crimson; */
}

#atsign:hover, #send:hover {
    color: #ffffff;
    transition: 0.3s;
}








#line2 {
    width: 71%;
    height: 100%;
    background-color: cadetblue;
}



