#roof {
    margin: 0%;
    background-color: rgb(230, 230, 230);
}

#help {
    height: 65px;
    width: 30%;
    background-color: rgba(231, 231, 231, 0.959);
}

#header {
    display: flex;
    flex-flow: row; 
    height: 65px;
}

#bt-search { /*nút search */
    background-color: rgba(0, 0, 0, 0);
    margin: 12px;
    cursor: pointer;
}

#menu {
    height: 65px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    z-index: 1;
}

.fa-user-circle {
    font-size: 25px;
    color: #383737ad;
    padding: 30px;
    cursor: pointer;
}

.fa-search {
    font-size: 18px;
    color: #383737ad;
    padding: 2px;
    cursor: pointer;
}

.bt-menu {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 150;
    color: #1f2c31c4;
    margin: 12px;
    text-decoration: none;
}

#debate-room {
    color: rgb(32, 32, 32);
    font-size: 19px;
}

.bt-menu:hover {
    color: rgb(32, 32, 32);
    font-size: 19px;
    transition: 0.2s;
}




/* Dropdown Button */
.dropbtn {
    color: #1f2c31c4;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 150;
    border: none;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}

.dropbtn:focus {
    outline: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: rgb(32, 32, 32);
    font-size: 18px;
    transition: 0.2s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.link {
    width: 155px;
    height: 20px;
    display: block;
    color: #1f2c31c4;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: none;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}


/* Change color of dropdown links on hover */
.link:hover {font-size: 17px; transition: 0.2s;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}





.fa-search:hover {
    font-size: 19px;
    color: rgb(32, 32, 32);
    transition: 0.2s;
}

.fa-user-circle:hover {
    font-size: 26px;
    color: rgb(32, 32, 32);
    transition: 0.2s;
}

#slidebar-first {
    max-width: 100%;
    height: 650px;
    background-image: url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-position-x: center;
    background-position-y: -200px;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 50px;
} 

#transparent-div {
    width: 100%;
    height: 100%;
    background-color: #2727278f;
}

#text-debateroom {
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: rgb(255, 255, 255); 
    position: relative;
    top: 36%;
    text-transform: uppercase;
}

#intro-debateroom {
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: whitesmoke; 
    position: relative;
    top: 37%;
}

#container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

#formats {
    width: 95%;
    height: 110%;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    /* box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2); */
    position: relative;
    bottom: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
 
#text-chooseyourformat {
    position: relative;
    top: 50px;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    color: #292929ec;
    margin-bottom: 10px;
}

#format-intro {
    position: relative;
    top: 50px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 65%;
    text-align: center;
    color: #292929ec;
}

#formats-name {
    display: flex;
    flex-flow: row;
    margin-top: 120px;
    width: 75%;
    justify-content: space-between;
}

.format {
    width: 300px;
    /* background-color: aqua; */
    margin: auto 10px auto 10px;
    cursor: pointer;
}

.icon {
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1px;
    color: #272727e5;
    position: relative;
    transition: 0.5s;
}

.format:hover .icon {
    transition: 0.5s;
    font-size: 75px; 
}

.dname {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #272727e5; 
    margin-top: 10px;
}

.intro {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    color: #272727e5; 
    margin-top: 10px;
}

.openmodal {
    display: none;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 105%;
    position: fixed;
    margin-top: -85.5%;
    background-color: #000000ad;
    z-index: 4;
}

.box {
    display: flex;
    flex-flow: column;
    width: 55%;
    height: 67%;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    margin: auto 0 auto 0;
}

.close-bt {
    display: flex;
    flex-flow: row-reverse;
}

.fa-times {
    color: #1f1f1f;
    font-size: 20px;
    cursor: pointer;
}

.fa-times:hover {
    transition: 0.3s;
    color: rgb(209, 69, 69);
}

.slide {
    display: none;
    width: 95%;
    height: 90%;
    margin: 0 auto 10px auto;
    /* background-color: springgreen; */
}

.current {
    display: flex;
}

#slide0 {
    flex-flow: column;
}

.format-title {
    width: 100%;
    height: 23%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    color: #173044;
    margin-top: 10px;
}

.debateformat-text {
    text-transform: capitalize;
    font-size: 23px;
}

.formatintro {
    width: 95%;
    margin: -25px auto 0 auto;
}

.fa-dot-circle {
    font-size: 13px;
    color: #2c2c2c;
    margin-top: 5px;
}

.intro-para {
    width: 96%;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.para {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 24px;
}





#slide1 {
    flex-flow: column;
}

.turnofspeech {
    width: 93%;
    height: 300px;
    background-size: cover;
    background-position-x: center;
    margin: -10px auto 0 auto;
}

#ap-img {
    background-image: url(AP_format.png); 
}

#bp-img {
    background-image: url(BP_format.png);
}

#ws-img {
    background-image: url(WS_format.png);
}


#slide2 {
    flex-flow: column;
}

#ohwell {
    margin-top: -15px;
}

.partofspeech {
    width: 93%;
    height: 150px;
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 30px auto 0 auto; 
}

#ap-speech {
    background-image: url(POItime.png);
}

#ws-speech {
    background-image: url(POItimeWS.png);
}

#slide3 {
    flex-flow: column;
}

.decocircle {
    width: 43%;
    height: 230px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.fa-comments {
    margin: 0 auto 0 auto;
    font-size: 140px;
    color: #3a3a3a;
}

#extratext {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

#Waiting-room-btn {
    width: 230px;
    margin: 30px auto 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    color: #1f1f1f;
    cursor: pointer;
}

#Waiting-room-btn:hover {
    background-color: #1f1f1f;
    color: #f0f0f0;
    transition: 0.2s;
}

#roomlink {
    text-decoration: none;
}


#continue-line {
    width: 95%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 auto 8px auto;
}

.btn {
    width: 90px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    padding: 12px;
}

.btn:hover {
    transition: 0.2s;
    font-size: 16px;
}

#next {
    background-color: #1f1f1f;
    color: #f1f1f1;
}




input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(250, 250, 250) inset !important;
    box-shadow: 0 0 0 30px rgb(250, 250, 250) inset;
}
 