#roof {
    margin: 0%;
    background-color: whitesmoke;
}

#header {
    display: flex;
    float: end;
    flex-flow: row;
    height: 65px;
}

#bt-search { /*nút search */
    background-color: rgba(0, 0, 0, 0);
    margin: 12px;
    cursor: pointer;
}

#room-of-opinions {
    color: rgb(32, 32, 32);
    font-size: 19px;
}

.bt-menu:hover {
    color: rgb(32, 32, 32);
    font-size: 19px;
    transition: 0.2s;
}

.fa-user-circle:hover {
    font-size: 26px;
    color: rgb(32, 32, 32);
    transition: 0.2s;
}

#menu {
    height: 65px; 
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    z-index: 1; 
}
 
.fa-user-circle {
    font-size: 25px;
    color: #383737ad;
    padding: 30px;
    cursor: pointer;
}

.bt-menu {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 150;
    color: #1f2c31c4;
    margin: 12px;
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    color: #1f2c31c4;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 150;
    border: none;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}

.dropbtn:focus {
    outline: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: rgb(32, 32, 32);
    font-size: 18px;
    transition: 0.2s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.link {
    width: 155px;
    height: 20px;
    display: block;
    color: #1f2c31c4;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: none;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}


/* Change color of dropdown links on hover */
.link:hover {font-size: 17px; transition: 0.2s;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#slidebar-background {
    width: 100%;
    height: 100px;
    /* background-color:red; */
    background-size: cover;
    /* background-position-y: -1080px; */
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#transpa {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* background-color: blue; */
    margin-top: 50px;
}

#text-opichart {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    width: 87%;
    color: black;
    /* margin-left: 7%; */
    margin-top: -5%;
}


#hahaha {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    /* background-color: coral; */
}

#slidebar-chart {
    display: flex;
    flex-flow: row;
    width: 90%;
    margin-top: 25px;
    justify-content: space-between;
    /* background-color: blue; */
}

#box1 {
    width: 65% ;
    display: flex;
    flex-flow: column;
    margin-left: 10px ;
    /* background-color: chartreuse; */

}

.cmotion {
    display: flex;
    flex-flow: row;
    height: 110px;
    width: 100%;
    /* background-color:red; */
    margin-bottom:20px
}

.crank {
    width: 60px;
    display: flex;
    /* flex-flow: row; */
    flex-flow: column;
    justify-content: center;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif; 
    /* background-color: firebrick; */
}

.motion-info {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* background-color: deeppink; */
}

.moimg {
    width: 25%;
    height: 100%;
    background-color: darksalmon;
    margin-right: 10px;
}

#moimg1 {
    background-size: cover;
    background-image:  url(https://media.tintucvietnam.vn/uploads/medias/2017/11/18/600x600/anh8-bb-baaadHTaqD.jpg?v=1510984090074) ;
}

#moimg2 {
    background-size: cover;
    background-image:  url(http://phunuvietnam.mediacdn.vn/media/news/78ccad7da4c2fc2646d1848e965794c5/nu-quyen-2.jpg) ;
}

#moimg3 {
    background-size: cover;
    background-image: url(https://vtv1.mediacdn.vn/thumb_w/600/2018/12/20/lam-bang-dai-hoc-da-nang6-15452688417071922392203-crop-15452688550131780266657.png);
}
 
#moimg4 {
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1519381950710-20a66031fe2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1866&q=80);
    background-position-y: center;
}

#moimg5 {
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1506836467174-27f1042aa48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    background-position-y: center;
}

.motioncontain {
    width: 73%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    /* background-color: yellowgreen; */
}


.motitle {
    font-family: 'Josefin Sans', sans-serif; 
    color: rgba(17, 17, 17, 0.945);
    font-weight: bold;
    font-size: 20px;
}

.moauthor {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: bold;
}

.mointer {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.boldstar {
    color: rgb(163, 149, 24 );
}

.likecmt {
    display: flex;
    flex-flow: row;
}

.molike {
    margin-right: 15px;
}


#box2 {
    width: 30% ;
    height: 500px ;
    display: flex;
    flex-flow: column;
    /* background-color: darkgreen; */
}

#search-bar { 
    /* width: 35%;
    display: flex;
    justify-content: space-evenly;
    border: 1.2px solid #e6e6e6;
    margin-top: 20px; */
    width: 100%;
    /* margin-left: 10% ; */
    display: flex;
    flex-flow: row;
    /* background-color: indigo; */
    justify-content: space-between;
    /* border-radius: 10px; */
    

}

.search-input {
    display: flex;
    flex-flow: row;
    width: 90%;
    height: 27px;
    /* color: black;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold; */
    border-radius: 15px;
    border: rgb(41, 41, 41) solid 2px;
    outline: none;
    /* text-align: center; */
    justify-content: space-evenly;
    /* background-color: white; */
    /* background-color: darkorange; */

}

.input {
    color: black;
    width: 80%;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: left;
    border: none;
    outline: none;
}


.fa-search {
    width: 100%;
    height: 80%;
    /* margin-left: 14%; */
    margin-top: 13%;
    margin-right: 20%;
    /* text-align: center; */
    color: rgb(24, 24, 24);
    font-size: 20px;
    display: flex;
    cursor: pointer;
    /* background-color: lawngreen; */
    
}

.new-mo {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 35px;
    margin-top:10px;
    /* background-color: chocolate; */
}

#newmo-text {
    display: flex  ;
    flex-flow: column;
    margin-top: 15px;
    width: 80%;
    height: 20px;
    /* background-color: crimson; */
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
}

#newmotion {
    display: flex;
    flex-flow: column;
    margin-top: -5px;
    width: 100%;
    height: 380px;
    justify-content: space-evenly;
}
.newmoimg {
    display: flex;
    /* margin-left: 5%; */
    width: 45%;
    height: 100px;
    background-color: darksalmon;
}

.newmoinfo {
    display: flex;
    width: 50%;
    margin-left: 10px;
    /* background-color: yellow; */
    flex-flow: column;
    justify-content: space-evenly;

}

.motionnew {
    display: flex;
    flex-flow: row;
    /* background-color: brown; */
}

.newmotitle {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 15px;
    font-weight: bold;
}

.newmocmt {
    width: 57%;
    /* margin-left: 10%; */
    flex-flow: row;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: bold;
    justify-content: space-evenly;
    /* background-color: cornflowerblue; */

}

#typing, #typing:focus {
    border: none;
    outline: none;
    background-color: rgba(238, 130, 238, 0);
}